{% extends 'index.html' %}

{% block content %}
<h1>Hello {{ request.user.first_name }} {{request.user.last_name}}!</h1>

<div class="row">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% if tab == 'settings' %}active{% endif %} " href="/users/cabinet/">Settings</a>
            <a class="nav-link {% if tab == 'products' %}active{% endif %} " href="/users/my-products/">My products</a>
            <a class="nav-link {% if tab == 'messages' %}active{% endif %} " href="">Messages</a>
            <a class="nav-link {% if tab == 'statictics' %}active{% endif %} ">Statictics</a>
        </div>
    </div>

    {% load crispy_forms_tags %}
    <div class="col-md-9">
        {% block cabinet %}
        <form action="/users/cabinet/" method="post">
            {% csrf_token %}
            <div>
                <label for="">First Name</label>
                <input type="text" value="{{request.user.first_name}}" name="first_name">
            </div>
            <div>
                <label for="">Last Name</label>
                <input type="text" value="{{request.user.last_name}}" name="last_name">
            </div>
            <div>
                <label for="">Email</label>
                <input type="text" value="{{request.user.email}}" name="email">

            </div>
            {{ form|crispy }}
            <button class="btn btn-success">Save</button>
        </form>
        {% endblock %}
    </div>
</div>


{% endblock %}