{% extends 'users/cabinet/main.html' %}

{% block cabinet %}
<h1>My products</h1>
<div>
    <a class="btn btn-success" href="/users/cabinet/add-phone/">Add phone</a>
</div>

<table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Brand</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for phone in all_products %}
        <tr>
            <td scope="row">{{phone.id}}</td>
            <td>
                <a href="/phone-detail/{{phone.id}}">{{phone.name}}
                {% if phone.is_sale %} <span class="badge badge-secondary">Sale</span> {% endif %}
            </a></td>
            <td>{{ phone.price }}
                {% if phone.is_sale %} - {{ phone.percent_sale }} % = {{ phone.get_price }} {% endif %} $
            </td>
            <td>{{ phone.brand }}</td>

            <td>
                <a class="btn btn-danger" href="/users/cabinet/delete-phone/{{ phone.id }}">X</a>
                <a class="btn btn-warning" href="">update</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock cabinet %}