<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(248, 119, 119)!important;">
  <a class="navbar-brand" href="/">E.SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if tab == 'home' %} active {% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if tab == 'about' %} active {% endif %}">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item {% if tab == 'calc' %} active {% endif %}">
        <a class="nav-link" href="/calculator/">Calculator</a>
      </li>
    </ul>
    <span class="navbar-text">

      {% if request.user.is_authenticated  %}
        <a class="btn btn-danger" href="/users/logout/">Logout ({{ request.user }}) </a>
        <a class="btn btn-info" href="/users/cabinet/">Cabinet</a>
      {% else %}
        <a class="btn btn-success" href="/users/login/">Login</a>
        <a class="btn btn-primary" href="/users/register/">Register</a>
      {% endif %}
        <a class="btn btn-warning" href="">Wish list</a>
    </span>
  </div>
</nav>
