{% extends 'index.html' %}


{% block content %}
<h1>Phones: {{ all_phones | length }}. Total sum : {{total_sum}}$</h1>

<div class="container">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Brand</th>
            <th scope="col">Person</th>
        </tr>
        </thead>
        <tbody>
        {% for phone in all_phones %}
        <tr>
            <td scope="row">{{phone.id}}</td>
            <td><a href="/phone-detail/{{phone.id}}">{{phone.name}}
                {% if phone.is_sale %} <span class="badge badge-secondary">Sale</span> {% endif %}
            </a></td>
            <td>{{ phone.price }}
                {% if phone.is_sale %} - {{ phone.percent_sale }} % = {{ phone.get_price }} {% endif %} $
            </td>
            <td>{{ phone.brand }}</td>

            <td><a href="/get-person/{{phone.person.id}}">{{ phone.person.get_name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}